/**
*Aelisha-Patel
*ID: 301488557
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background: #4f69a2;
    color: black;
    overflow:hidden;
    overflow: scroll;
}
